body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: #231F20;
}
.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #6D6E71;
    text-align: center;
    border-radius: 15px;
}
h1{
    color: azure;
    text-transform: uppercase;
    font-weight: 600;
}
.box input[type = "text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #7AB1FF;
    padding: 10px 4px;
    width: 250;
    outline: none;
    color: azure;
    border-radius: 25px;
    transition: 0.75s;
}
.box input[type = "text"]:focus, .box input[type="password"]:focus{
    width: 350px;
    border: 2px solid#00CF91;
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00CF91;
    padding: 10px 4px;
    width: 150px;
    outline: none;
    color: azure;
    border-radius: 25px;
    transition: 0.75s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #00CF91;
}
::placeholder { 
    color: white;
    opacity: 1; 
  }